<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title >Blood plasma</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../assets/humanblood.jpg" alt="" class="img">
  <mat-card-content>
    <p class="show" [ngClass]="{'show': showShortDesciption ==true}">
      Plasma is the liquid portion of blood. About 55% of our blood is plasma,
    and the remaining 45% are red blood cells, white blood cells and
    platelets that are suspended in the plasma. Plasma is about 92% water.
    It also contains 7% vital proteins such as albumin, gamma globulin and
    anti-hemophilic factor, and 1% mineral salts, sugars, fats, hormones and
    vitamins.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="alterDescriptionText()"> {{ showShortDesciption ? 'Read more': 'Read less' }}</button>
  </mat-card-actions>
  
</mat-card>

