<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Blood type matching</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../assets/bloodType.png" alt="df" class="img"/>
    <mat-card-content>
      <p  class="show" [ngClass]="{'show': showShortDesciption ==true}">
        On their surface, red cells have inherited chemical structures called
        antigens that can cause a person’s immune system to make antibodies
        against them. Humans have 35 major groups or families of these antigens,
        as well as other minor groups, but consideration of two, the ABO group
        and the RhD group, is very important to ensure that a transfusion
        recipient receives compatible blood. The presence of antigens within
        these groups is what determines a person’s blood type. Blood types are
        referred to as Type A, Type B, Type AB (which has both A and B
        antigens), or Type O (which has neither A or B antigens) followed by
        positive or negative, which indicates the presence of the RhD antigen.
        Persons who are RhD negative have no RhD antigen.Persons with a given
        antigen do not make antibodies against their own antigen, but will
        against the other antigens in that group. For example, if a person has
        type A blood, he (or she) will make antibodies against the B antigen,
        but not against the A antigen. That means that if this person is given
        either type B red blood cells or type AB red blood cells, his or her
        antibodies will attack and destroy the foreign red cells possessing the
        B antigen, causing a transfusion reaction. Similarly, a person having
        the RhD antigen will not make antibodies against RhD antigen, but the
        RhD negative person will make antibodies against blood with RhD positive
        red cells.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="alterDescriptionText()">{{ showShortDesciption ? 'Read more': 'Read less' }}</button>
    </mat-card-actions>
  </mat-card>